html { height: 100%; } 
body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	background: url(images/bg.png) no-repeat 50% 0%;
}
#topbar {
	width: 980px;
	color: #ffffff;
	height: 25px;
	background: url(images/topbarbg.png) repeat-y 50%;
	font-size: 12px; 
	margin: 0 auto;
	padding: 0px 20px 0px 20px;
}
#topbar strong { text-decoration: underline; }
#topbar a {
	color: #ffffff;
	text-decoration: none;
}
#topright {
	float: right;
	display: block;
	z-index: 100;
	margin-top: 4px;
	margin-right: 22px;
}
#topright a {
	margin: 0 15px 0 15px;
}
#topleft {
	float: left;
	display: block;
	z-index: 100;
	margin-top: 4px;
	margin-left: 22px;
}
#topmiddle {
	display:block;
	font-size:14px;
	height:100%;
	margin:0 auto;
	padding:0;
	position:relative;
	text-align:center;
	top:0;
	width:50%;
	overflow: hidden;
}
.navtab {
	background:transparent url(images/buttonbg.png) repeat scroll 0 0;
	height:100%;
	margin:0 10px;
	padding: 4px 10px 0 10px;
	vertical-align: middle;
	display:inline-block;
	font-size: 15px;
}
.navtab:hover {	background: url(images/buttondarkbg.png); }
.navtabsel {
	background:transparent url(images/buttondarkbg.png) repeat scroll 0 0;
	height:100%;
	margin:0 10px;
	padding: 4px 10px 0 10px;
	vertical-align: middle;
	display:inline-block;
	font-size: 15px;
}
#mainnav {
	margin: 0 auto;
	width: 980px;
	margin-top: -20px;
	padding: 5px 0px 0px 22px;
}

#content {
	margin: 0 auto;
	padding: 0;
	width: 980px;
	background-color: #ffffff;
	min-height: 400px;
	background: url(images/contentbg.png) no-repeat 50% 0%;
}
#flashmsgs
{
	width: 100%;
	color: #2e3436;
	font-weight: bold;
	background-color: #8ae234;
	border: #73d216 3px solid;
	padding: 5px;
	margin-bottom: 3px;
	min-height: 20px;
}

#flashmsgw
{
	width: 100%;
	color: #2e3436;
	font-weight: bold;
	background-color: #fce94f;
	border: #edd400 3px solid;
	padding: 5px;
	margin-bottom: 3px;
	min-height: 20px;
}

#flashmsge
{
	width: 100%;
	color: #eeeeec;
	font-weight: bold;
	background-color: #ef2929;
	border: #cc0000 3px solid;
	padding: 5px;
	margin-bottom: 3px;
	min-height: 20px;
}

#container {
	padding: 55px 60px 0 60px; 
}
#container a {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
#container a:hover { color: #555555; }

img { border: 0; }
.title { font-weight: bold; }
.boxcontainer { text-align: center;}
.project {
	width: 250px;
	height: 100px;
	margin: 2px 10px 2px 10px;
	border: 1px solid #888888;
	display: block;
	float: left;
	text-align: left;
	padding: 3px 3px 3px 3px;
	cursor: pointer;
}
.project:hover { background-color: #EEEEEE; }
.project a {
	color: #000000;
	clear: both;
}
.project .desc {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}
.project .eps {
	font-size: 11px;
	font-weight: normal;
	vertical-align: top;
	color: #888888;
}
#fulllogin {
	width: 45%;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
	border: 1px solid #666666;
	text-align: center;
}
form { margin: 0; }
.list {
	position: relative;
	margin: 0 auto;
	width: 75%;
}
.list .header th {
	background-color: #AACCFF;
	border-bottom: 1px solid #7799CC;
	border-top: 1px solid #7799CC;
	font-size: 13px;
	color: #3366FF;
}
.list .listing:hover { background-color: #C0D0FF; }
.list .listing { background-color: #E0F0FF; }
.list .listing td {
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
}
.confirm tr:first-child { 
	white-space: nowrap;
}
.user {
	width: 250px;
	height: 32px;
	margin: 2px 10px 2px 10px;
/*	border: 1px solid #888888;*/
	display: block;
	float: left;
	text-align: left;
	padding: 3px 3px 3px 3px;
}
.user:hover { background-color: #EEEEEE; }
.user a { color: #000000; }
.user img { 
	float: left;
	padding-right: 3px;
}
.user p {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}

.userdetails .header {
	height: 56px;
	text-align: left;
	margin: 2px 10px 2px 10px;
	padding: 3px 3px 3px 3px;
}
.userdetails .header img {
	float: left;
	padding-right: 3px;
}
.userdetails .comment {
	font-size: 14px;
	font-weight: normal;
	margin: 0 12px 0 0;
}

#adminnav ul, li
{
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.right { float: right; }
.small { font-size: 11px; }
.bold { font-weight: bold; }
.clear { clear: both; }
